.vs/
.idea/
.vscode/
obj/
bin/
artifacts/
is-cache/
node_modules/
*.user
.pnpm-debug.log
*.sln
*.po
*.pot
/src/OrchardCore.Commerce.Web/App_Data/
/src/OrchardCore.Commerce.Web/wwwroot/is-cache/
*.placeholder
/.editorconfig
.ps1-analyzer-stamp
*.orig
.prettierrc.js
