[submodule "tools/Lombiq.Analyzers"]
	path = tools/Lombiq.Analyzers
	url = https://github.com/Lombiq/.NET-Analyzers.git
	branch = dev
[submodule "test/Lombiq.UITestingToolbox"]
	path = test/Lombiq.UITestingToolbox
	url = https://github.com/Lombiq/UI-Testing-Toolbox.git
[submodule "src/Libraries/Lombiq.HelpfulLibraries"]
	path = src/Libraries/Lombiq.HelpfulLibraries
	url = https://github.com/Lombiq/Helpful-Libraries.git
