.vs/
.idea/
.vscode/
obj/
bin/
artifacts/
wwwroot/
node_modules/
*.user
.pnpm-debug.log
*.sln
*.po
/OrchardCore.Commerce.Web/App_Data/
/OrchardCore.Commerce.Web/wwwroot/is-cache/
*.placeholder
/.editorconfig
