<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Ignore global configuration -->
    <clear />
    <!-- Here so the Visual Studio package manager won't default to the next feed below. -->
    <add key="Lombiq" value="https://nuget.cloudsmith.io/lombiq/open-source-orchard-core-extensions/v3/index.json" />
    <add key="OrchardCorePreview" value="https://nuget.cloudsmith.io/orchardcore/preview/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
      <!-- OrchardCore.Translations.All is on a separate repo and doesn't have a preview -->
      <package pattern="OrchardCore.Translations.*" />
    </packageSource>
    <packageSource key="OrchardCorePreview">
      <package pattern="OrchardCore*" />
      <!-- OrchardCore theme packages -->
      <package pattern="SafeMode" />
      <package pattern="TheAgencyTheme" />
      <package pattern="TheBlogTheme" />
      <package pattern="TheComingSoonTheme" />
      <package pattern="TheTheme" />
      <package pattern="TheAdmin" />
    </packageSource>
    <packageSource key="Lombiq">
      <package pattern="Lombiq.HelpfulLibraries*" />
      <package pattern="Lombiq.Tests.UI*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
