<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Ignore global configuration -->
    <clear />
    <add key="LombiqPreview" value="https://nuget.cloudsmith.io/lombiq/open-source-orchard-core-extensions/v3/index.json" />
    <add key="OrchardCorePreview" value="https://nuget.cloudsmith.io/orchardcore/preview/v3/index.json" />
    <add key="OrchardCoreCommercePreview" value="https://nuget.cloudsmith.io/orchardcore/commerce/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
      <!-- OrchardCore.Translations.All is on a separate repo and doesn't have a preview -->
      <package pattern="OrchardCore.Translations.*" />
    </packageSource>
    <!-- Enable these to use preview versions of Orchard Core packages. -->
    <packageSource key="OrchardCorePreview">
      <package pattern="OrchardCore*" />
      OrchardCore theme packages
      <package pattern="SafeMode" />
      <package pattern="TheAgencyTheme" />
      <package pattern="TheBlogTheme" />
      <package pattern="TheComingSoonTheme" />
      <package pattern="TheTheme" />
      <package pattern="TheAdmin" />
    </packageSource>
    <packageSource key="OrchardCoreCommercePreview">
      <package pattern="OrchardCore.Commerce.Translations" />
    </packageSource>
    <!-- Enable these to use the Lombiq packages from Cloudsmith instead of NuGet.
    <packageSource key="LombiqPreview">
      <package pattern="Lombiq.HelpfulLibraries*" />
      <package pattern="Lombiq.Tests.UI*" />
    </packageSource>
    -->
  </packageSourceMapping>
  <auditSources>
    <!-- This is to prevent such errors during NuGet restore for Cloudsmith: "Error occurred while getting package
    vulnerability data: Unable to load the service index for source
    https://nuget.cloudsmith.io/orchardcore/preview/v3/index.json." -->
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </auditSources>
</configuration>
