<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Here so the Visual Studio package manager won't default to the next feed below. -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="OrchardCorePreview" value="https://nuget.cloudsmith.io/orchardcore/preview/v3/index.json" />
  </packageSources>
</configuration>
