<?xml version="1.0" encoding="utf-8"?>
<!-- Based on https://learn.microsoft.com/en-us/nuget/consume-packages/package-source-mapping#enable-by-manually-editing-nugetconfig. -->
<configuration>
    <!-- Define the package sources, `clear` ensures no additional sources are inherited from another config file. -->
    <packageSources>
        <clear />
        <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
        <add key="orchardcore-preview" value="https://nuget.cloudsmith.io/orchardcore/preview/v3/index.json" />
        <add key="orchardcore-commerce" value="https://nuget.cloudsmith.io/orchardcore/commerce/v3/index.json" />
    </packageSources>

    <!-- Define mappings by adding package patterns beneath the target source. -->
    <!-- OrchardCore.Commerce* packages will be restored from orchardcore-commerce, everything else from nuget.org. -->
    <packageSourceMapping>
        <packageSource key="NuGet">
            <package pattern="*" />
        </packageSource>
        <packageSource key="orchardcore-commerce">
            <package pattern="OrchardCore.Commerce*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
