@model OrchardCore.Commerce.ViewModels.CheckoutViewModel

<mvc-title text="@T["Checkout"]" />

<section id="checkout">
    <div class="card-payment-form_container">
        <form id="card-payment-form" class="card-payment-form">
            @Html.AntiForgeryToken()
            @await DisplayAsync(Model.NewOrderEditor)

            <shape type="StripeCheckout"
                   prop-DefaultTotal="@Model.SingleCurrencyTotal"
                   prop-PublishableKey="@Model.StripePublishableKey"/>
        </form>
    </div>
</section>

<style asp-src="~/OrchardCore.Commerce/css/credit-card-form.min.css"></style>
