<div class="row pt-md-5">
    <div class="col-6 mx-auto">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="text-success text-center">@T["Confirming payment. Reloading in 2 seconds..."]</h4>
            </div>
        </div>
    </div>
</div>

<script>
    setTimeout(() => location.reload(), 2000);
</script>
