@using OrchardCore.ContentManagement

@inject IContentManager contentManager

@{
    var order = await contentManager.GetAsync(Context.Request.Query["Order"]);
}

<zone name="Header">
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"></div>
                <div class="intro-heading text-uppercase">@T["Success"]</div>
            </div>
        </div>
    </header>
</zone>
<div class="row pt-md-5">
    <div class="col-6 mx-auto">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="text-success text-center">@T["Thank you for your purchase!"]</h4>
            </div>
            <div class="panel-body">
                <p>
                    <b>@T["The receipt will be sent to your email address once we have processed your order!"] </b>
                </p>
                <a href="~/" class="btn btn-primary">@T["Return to home page"]</a>
            </div>
        </div>
    </div>
</div>
<div class="pt-5">
    @await Orchard.DisplayAsync(order, "Success")
</div>

