@using OrchardCore.Commerce.Settings
@{ 
    var settings = Model.Settings as BooleanProductAttributeFieldSettings;
}
<input type="checkbox" checked="@settings.DefaultValue"/>
<label>@(string.IsNullOrEmpty(settings.Label) ? Model.Name : settings.Label)</label>
@if (settings.Hint != null)
{
    <div class="hint">@settings.Hint</div>
}