@model PriceVariantsPartViewModel

@if (Model.Variants != null && Model.Variants.Count > 0)
{
    <div class="product-price-variants">
        Variants:
        <ul>
            @foreach (var variant in Model.Variants)
            {
                <li>@variant.Key - @variant.Value.ToString()</li>
            }
        </ul>
    </div>
}
