@model ProductPartViewModel
@using OrchardCore.DisplayManagement;
@using OrchardCore.Commerce.Abstractions;

@{ 
    var shapeHelper = New as IShapeFactory;
}
<form asp-action="AddItem" asp-controller="ShoppingCart" asp-area="OrchardCore.Commerce">
    <input type="hidden" name="item.Sku" value="@Model.Sku" />
    <ul class="product-attribute-list">
        @foreach (ProductAttributeDescription attr in Model.Attributes)
        {
            <li>@await DisplayAsync(await shapeHelper.CreateAsync(attr.Field.GetType().Name, attr))</li>
        }
    </ul>
    <button type="submit">@T["Add to cart"]</button>
</form>