.row.credit-card > * {
    padding: 0;
    margin: 2rem 0;
    border-style: solid;
    border-width: 1px;
}

.pay-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pay-button {
    width: 50%;
}

.message-error, .stripe-field-error {
    background-color: #f8d7da;
    border: 1px solid #f5c2c7;
    color: #842029;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;

    ul {
        margin: 0;
    }

    li {
        list-style: initial;

        &:first-child:last-child {
            list-style: none;
        }
    }
}
