.row.credit-card > * {
    padding: 0;
    margin: 30px 0;
    border-style: solid;
    border-width: 1px;
}

.pay-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pay-button {
    width: 50%;
    color: white;
    background-color: forestgreen;

    &:hover {
        background-color: lawngreen;
    }
}

.error {
    color: red;
}

// Hide editor buttons.
.edit-item-actions {
    display: none;
}

// Hide StripePaymentPart editor inputs, as these are updated by the script.
input[id^="StripePaymentPart_"], label[for^="StripePaymentPart_"] {
    display: none;
}
