.shopping-cart-table {
    th {
        text-align: center;
    }

    tbody,
    tfoot {
        & tr > *:last-child {
            text-align: right;
        }
    }

    .shopping-cart-table-totals,
    .shopping-cart-table-unit-price {
        text-align: right;
    }

    .shopping-cart-table-quantity {
        max-width: 5em;
    }
}
