@using Newtonsoft.Json
@using OrchardCore.Commerce.Settings
@using OrchardCore.ContentManagement.Metadata.Models
@using OrchardCore.Mvc.Utilities
@using OrchardCore.Commerce.Extensions
@model AddressFieldViewModel

@{
    var hint = Model.PartFieldDefinition.GetSettings<AddressPartFieldSettings>().Hint;

    var province = Model.Address?.Province ?? string.Empty;

    var addressElementName = "address_" + Model.PartFieldDefinition.Name.HtmlClassify();
}

<div class="@addressElementName">
    <h3>@Model.PartFieldDefinition.DisplayName()</h3>

    @await DisplayAsync(
        new AddressFieldFrontendEditViewModel
        {
            AddressField = Model.AddressPart,
            CityName = Html.NameFor(model => model.Address.City),
            Regions = Model.Regions,
            Provinces = Model.Provinces,
        })

    @if (!string.IsNullOrWhiteSpace(hint))
    {
        <span class="hint">@hint</span>
    }
</div>
