@using OrchardCore.ContentManagement.Metadata.Models
@model EditProductAttributeFieldViewModel<OrchardCore.Commerce.Fields.BooleanProductAttributeField, OrchardCore.Commerce.Settings.BooleanProductAttributeFieldSettings>
@{
    var settings = Model.Settings;
    var name = Model.PartFieldDefinition.DisplayName();
}

<fieldset class="mb-3">
    <label>@name @T["(Boolean product attribute)"]</label>
    <ul>
        <li class="hint">@T["Label: {0}", settings.Label]</li>
        <li class="hint">@T["Default value: {0}", settings.DefaultValue ? T["on"] : T["off"]]</li>
        <li class="hint">@T["Hint: {0}", settings.Hint]</li>
    </ul>
</fieldset>
