<fieldset class="mb-3">
    <label>@T["Create Templates for the Checkout Screen"]</label>
    <ul>
        @foreach (string url in Model.TemplateUrls)
        {
            var shapeType = url.Split("name=").Last();
            <li><a href="@url">@shapeType</a></li>
        }
    </ul>
</fieldset>
