@model PricePartViewModel

@{
    var currentDisplayCurrencyIsoCode = Model.CurrentDisplayCurrency.CurrencyIsoCode;
    var modelPrice = Model.Price.ToString();
}

<div class="product-price pb-3">
    @if (Model.PriceCurrency == null)
    {
        @T["The product doesn't have a price."]
    }
    else if (currentDisplayCurrencyIsoCode == Model.PriceCurrency)
    {
        @modelPrice
    }
    else
    {
        @T["The product has a price but its currency doesn't match with the current display currency which is {0}.", currentDisplayCurrencyIsoCode]

        <div>
            @T["The current price is {0}.", modelPrice]
        </div>
    }
</div>
