@using OrchardCore.Commerce.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
<option value="@ProductListTitleFilterProvider.TitleAscOrderById" selected="@(Model.Selected)">@T["Title A-Z"]</option>
