@model RegionSettingsViewModel

<p class="alert alert-warning">@T["The current tenant will be reloaded when the settings are saved."]</p>

<fieldset class="mb-3" asp-validation-class-for="AllowedRegions">
    <label asp-for="AllowedRegions">@T["Allowed Regions"]</label>

    <div class="input-group">
        <div class="input-group-append">
            <select asp-for="AllowedRegions"
                    asp-items="Model.Regions"
                    class="form-control content-preview-text"></select>
        </div>
    </div>

    <span class="hint">@T["The available regions. If left empty all regions will be available."]</span>

</fieldset>
