@using OrchardCore.Commerce.Tax.Constants
@using OrchardCore.Commerce.MoneyDataType

@{
    var line = (ShoppingCartLineViewModel)Model.Line;
    var price = line.AdditionalData[Keys.GrossPrice].ToObject<Amount>();
}

<div class="shopping-cart-table-unit-price">@price</div>
