@using OrchardCore
@using OrchardCore.Commerce.Abstractions
@using OrchardCore.DisplayManagement.TagHelpers

@{
    var line = (ShoppingCartLineViewModel)Model.Line;
    var attributes = (IList<(IProductAttributeValue Value, string Type, int Index)>)Model.ProductAttributes;
}

<a href="@await Orchard.GetItemDisplayUrlAsync(line.Product.ContentItem)">@line.ProductName</a>
@if (line.Attributes?.Any() == true)
{
    <ul class="cart-product-attributes list-inline">1
        @foreach (var (attribute, type, _) in attributes)
        {
            <shape tag="li"
                   Type="@type"
                   prop-attribute="@(attribute)"
                   prop-label="@(attribute.Label)"/>
        }
    </ul>
}
