@using OrchardCore.Commerce.Tax.Extensions
@using OrchardCore.Commerce.Abstractions.ViewModels

@{
    var line = (ShoppingCartLineViewModel)Model.Line;
    var price = line.AdditionalData.GetGrossPrice();
}

<div class="shopping-cart-table-unit-price">@price</div>
