@using OrchardCore.Commerce.Models;
@using OrchardCore.Commerce.Tax.Extensions

@inject OrchardCore.Settings.ISiteService SiteService

@{
    var line = (ShoppingCartLineViewModel)Model.Line;
    var (oldNetPrice, oldGrossPrice) = line.AdditionalData.GetOldPrices();
    var priceDisplaySettings = (await SiteService.GetSiteSettingsAsync()).As<PriceDisplaySettings>();

    // Determine which price format to use based on corresponding site setting.
    var oldPrice = priceDisplaySettings.UseNetPriceDisplay ? oldNetPrice : oldGrossPrice;
}

<div class="shopping-cart-table-old-price"><del>@oldPrice</del></div>
