@{
    if (Model.Part.Inventory is not IDictionary<string, int> inventory) { return; }

    // If any inventories contain items, the product is not out of stock.
    foreach (var inventoryEntry in inventory)
    {
        if (inventoryEntry.Value > 0) { return; }
    }

    var html = Model.Part.OutOfStockMessage.Html is string htmlString && !string.IsNullOrWhiteSpace(htmlString)
        ? htmlString
        : T["Out of Stock"].Value;
}

<div class="pb-3 field field-type-htmlfield field-name-inventory-part-out-of-stock-message">
    <strong class="field-name-inventory-part-out-of-stock-message-title">@Html.Raw(html)</strong>
</div>
