@model InventoryPartViewModel

<h3>@T["Inventories"]</h3>
<div class="row">
    @foreach (var inventoryKey in Model.Inventory.Keys)
    {
        var inventoryTitle = Model.Inventory.Count > 1 ? inventoryKey.Split('-').Last() : string.Empty;

        <div class="col-md-3">
            <div class="mb-3" asp-validation-class-for="Inventory[inventoryKey]">
                <label asp-for="Inventory[inventoryKey]">@inventoryTitle @T["Inventory"] </label>
                <div class="input-group">
                    <input asp-for="Inventory[inventoryKey]" class="form-control text-muted" />
                </div>
                <span asp-validation-for="Inventory[inventoryKey]"></span>
            </div>
        </div>
    }
</div>
