@model OrchardCore.ContentManagement.ContentItem

<div class="row pt-md-5">
    <div class="col-6 mx-auto">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="text-success text-center">@T["Thank you"]</h4>
            </div>
            <div class="panel-body">
                <p>
                    <b>@T["Your submission was successful. You will receive an update at your email address once your order has been fully processed."] </b>
                </p>
                <a href="~/" class="btn btn-primary">@T["Return to home page"]</a>
            </div>
        </div>
    </div>
</div>
<div class="pt-5">
    @await Orchard.DisplayAsync(Model)
</div>
