@model ShoppingCartViewModel

<style asp-name="@ResourceNames.ShoppingCart"></style>

<mvc-title text="@T["Your Cart"]"/>

<section id="shopping-cart">
    <shape type="ShoppingCartTable" prop-ShoppingCartViewModel="@Model"></shape>

    <div class="col-xs-12 col-sm-1">
        <a asp-action="Index"
           asp-controller="Payment"
           asp-area="OrchardCore.Commerce"
           class="btn btn-primary checkout">@T["Checkout"]</a>
    </div>
</section>
