@model ShoppingCartViewModel

<style asp-src="~/OrchardCore.Commerce/css/shopping-cart.min.css"></style>

<mvc-title text="@T["Your cart"]"/>

<section id="shopping-cart">
    <shape type="ShoppingCartTable" prop-ShoppingCartViewModel="@Model"></shape>

    <div class="col-xs-12 col-sm-1">
        <a asp-action="Index" asp-controller="Payment" asp-area="OrchardCore.Commerce" class="btn btn-primary">@T["Checkout"]</a>
    </div>
</section>
