@model ProductPartViewModel

<div class="form-group" asp-validation-class-for="Sku">
    <label asp-for="Sku">@T["SKU"] </label>
    <input asp-for="Sku" class="form-control text-muted" />
    <span asp-validation-for="Sku"></span>
    <span class="hint">
        @T["The SKU of the product."]
    </span>       
</div>
