<fieldset>
    <div class="mb-3">
        <label for="products-filter-title">@T["Title"]</label>
        <input type="text" name="products.title" class="form-control" id="products-filter-title" placeholder="@T["Filter by title..."]" value="@Context.Request.Query["products.title"]"/>
    </div>
</fieldset>
