@model TaxRateViewModel

@if (Model.GrossPrice is { } price)
{
    <div class="pb-3 field field-type-pricefield field-name-tax-rate-gross-price"
         title="@T["Estimate, the final value is calculated during checkout."]">
        <strong class="tax-rate-gross-price-title">@T["Gross Price*:"]</strong>
        <span class="tax-rate-gross-price-value">@price</span>
    </div>
}
