name: Build and Test

# Runs for PRs opened for any branch, and pushes to the main branch.
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build-and-test-linux:
    name: Build and Test (Linux)
    uses: Lombiq/GitHub-Actions/.github/workflows/build-and-test-orchard-core.yml@dev
    with:
      machine-types: '["ubuntu-24.04"]'
      timeout-minutes: 60

  build-and-test-windows:
    name: Build and Test (Windows)
    uses: Lombiq/GitHub-Actions/.github/workflows/build-and-test-orchard-core.yml@dev
    with:
      machine-types: '["windows-2022"]'
      timeout-minutes: 60
      blame-hang-timeout: 1800000
      enable-test-diagnostic-mode: 'true'
      # Running ZAP for security scans in Docker under GHA Windows runners won't work since such virtualization is not
      # supported by GHA.
      test-filter: "FullyQualifiedName!~SecurityScanningTests"

  codespell:
    name: Codespell
    uses: Lombiq/GitHub-Actions/.github/workflows/codespell.yml@dev

  lint:
    name: Lint Scripts and Styles
    uses: Lombiq/NodeJs-Extensions/.github/workflows/lint.yml@issue/OCC-314
    with:
      scripts: '
        {
          "src/Modules/OrchardCore.Commerce": {
            "source": "wwwroot/js",
            "target": "wwwroot/js"
          },
          "src/Modules/OrchardCore.Commerce.ContentFields": {
            "source": "wwwroot/js",
            "target": "wwwroot/js"
          },
          "src/Modules/OrchardCore.Commerce.Payment.Stripe": {
            "source": "wwwroot/js",
            "target": "wwwroot/js"
          }
        }'
      styles-css: '
        {
          "src/Modules/OrchardCore.Commerce": {
            "target": "wwwroot/css",
            "target": "wwwroot/css"
          },
          "src/Modules/OrchardCore.Commerce.Payment": {
            "target": "wwwroot/css",
            "target": "wwwroot/css"
          }
        }'

  post-pull-request-checks-automation:
    needs: [build-and-test-linux, build-and-test-windows, codespell, lint]
    if: github.event.pull_request != ''
    uses: Lombiq/GitHub-Actions/.github/workflows/post-pull-request-checks-automation.yml@dev
    secrets:
      JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
      JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
      JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
      MERGE_TOKEN: ${{ secrets.LOMBIQBOT_GITHUB_PERSONAL_ACCESS_TOKEN }}
    with:
      merge-method: "squash"
