name: Build and Test

# Runs for PRs opened for any branch, and pushes to the main branch.
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build-and-test-linux:
    name: Build and Test (Linux)
    uses: Lombiq/GitHub-Actions/.github/workflows/build-and-test-orchard-core.yml@issue/OSOE-925
    with:
      machine-types: '["ubuntu-24.04"]'
      timeout-minutes: 60

  build-and-test-windows:
    name: Build and Test (Windows)
    uses: Lombiq/GitHub-Actions/.github/workflows/build-and-test-orchard-core.yml@issue/OSOE-925
    with:
      machine-types: '["windows-2022"]'
      timeout-minutes: 60
      blame-hang-timeout: 1800000
      enable-test-diagnostic-mode: 'true'
      # Running ZAP for security scans in Docker under GHA Windows runners won't work since such virtualization is not
      # supported by GHA.
      test-filter: "FullyQualifiedName!~SecurityScanningTests"
      # We already do this on Linux.
      verify-dotnet-consolidation: false

  codespell:
    name: Codespell
    uses: Lombiq/GitHub-Actions/.github/workflows/codespell.yml@dev

  lint:
    name: Lint Scripts, Styles, and Texts
    uses: Lombiq/NodeJs-Extensions/.github/workflows/lint.yml@dev
    with:
      scripts: 'src/Modules/OrchardCore.Commerce, src/Modules/OrchardCore.Commerce.ContentFields, src/Modules/OrchardCore.Commerce.Payment.Stripe, src/Modules/OrchardCore.Commerce.Tax'
      styles-css: 'src/Modules/OrchardCore.Commerce, src/Modules/OrchardCore.Commerce.Payment'

  post-pull-request-checks-automation:
    needs: [build-and-test-linux, build-and-test-windows, codespell, lint]
    if: github.event.pull_request != ''
    uses: Lombiq/GitHub-Actions/.github/workflows/post-pull-request-checks-automation.yml@dev
    secrets:
      JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
      JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
      JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
      MERGE_TOKEN: ${{ secrets.LOMBIQBOT_GITHUB_PERSONAL_ACCESS_TOKEN }}
    with:
      merge-method: "squash"
