name: Crowdin Synchronization

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  synchronize-with-crowdin:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        if: false
        uses: Lombiq/GitHub-Actions/.github/actions/checkout@dev
