name: Publish to NuGet

on:
  push:
    tags:
      - v*

jobs:
  call-publish-workflow:
    if: contains(github.ref, 'preview') == false
    uses: Lombiq/GitHub-Actions/.github/workflows/publish-nuget.yml@issue/OSOE-832
    secrets:
      API_KEY: ${{ secrets.NUGET_API_KEY }}
