name: Publish to NuGet

on:
  push:
    tags:
      - v*

jobs:
  publish-nuget:
    if: contains(github.ref, 'preview') == false
    uses: Lombiq/GitHub-Actions/.github/workflows/publish-nuget.yml@dev
    secrets:
      API_KEY: ${{ secrets.NUGET_API_KEY }}

  synchronize-with-crowdin:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: Lombiq/GitHub-Actions/.github/actions/checkout@dev

      - name: Set up .NET
        uses: Lombiq/GitHub-Actions/.github/actions/setup-dotnet@dev

      - name: Use PoExtractor and Upload Files
        shell: pwsh
        run: |
          dotnet tool install --global OrchardCoreContrib.PoExtractor
          extractpo . Translations
          if (-not (Test-Path .\Translations\*.pot)) { echo '::error::No POT files were found.'; echo exit 1; }
          
          $arguments = @(
            '--rm'
            '--mount', "type=bind,source=$PWD,target=/data"
            'crowdin/cli'
            'sh', '-c', 'cd /data/Translations; sh update-crowdin.sh ${{ secrets.CROWDIN_PROJECT_ID }} ${{ secrets.CROWDIN_PERSONAL_TOKEN }}'
          )
          docker run @arguments

      - name: Use PoExtractor and Upload Files
        shell: pwsh
        run: |
          dotnet tool install --global OrchardCoreContrib.PoExtractor
          extractpo . Translations
          if (-not (Test-Path .\Translations\*.pot))
          {
            Write-Output '::error::No POT files were found.'
            exit 1
          }
          
          Set-Location Translations
          New-Item -Type Directory -Force ~/.ssh
          '${{ secrets.SSH_KEY }}' | Out-File ~/.ssh/id_ed25519 
          'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIK5CArjOvXPwAWfvnCAfjUNYRR3sEhQNcEFRC0rgmNRw bot@lombiq.com' | Out-File ~/.ssh/id_ed25519.pub
          chmod  400 ~/.ssh/*
          git clone git@github.com:OrchardCMS/OrchardCore.Commerce.Translations.git Repository
          New-Item -Type Directory -Force Repository/Localization
          
          $arguments = @(
            '--rm'
            '--mount', "type=bind,source=$PWD,target=/data"
            'crowdin/cli'
            'sh', '-c', 'cd /data; sh update-crowdin.sh ${{ secrets.CROWDIN_PROJECT_ID }} ${{ secrets.CROWDIN_PERSONAL_TOKEN }}'
          )
          docker run @arguments
          
          $currentCommitMessage = $(git show -s --format=%s)
          Copy-Item *.pot Repository/Localization
          
          Set-Location Repository
          git config user.email "bot@lombiq.com"
          git config user.name "Lombiq Bot"
          git add --all
          Write-Output "git commit -m `"Update .pot files at '$currentCommitMessage'.`" (at $PWD)"
          git commit -m "Update .pot files at '$currentCommitMessage'."
          Write-Output "git push"
          git push
