name: Publish to CloudSmith

on:
  push:
    branches:
      - main
    tags:
      - v*-preview-*

jobs:
  call-publish-workflow:
    uses: Lombiq/GitHub-Actions/.github/workflows/publish-nuget.yml@dev
    with:
      source: https://nuget.cloudsmith.io/orchardcore/commerce/v3/index.json
      publish-version: "USE_GITHUB_RUN_NUMBER"
      verbosity: detailed
    secrets:
      API_KEY: ${{ secrets.CLOUDSMITH_API_KEY }}
